<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletDispatcherController</servlet-name>
        <servlet-class>quocnt.controller.ServletDispatcherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>quocnt.controller.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitSearchPageController</servlet-name>
        <servlet-class>quocnt.controller.InitSearchPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmController</servlet-name>
        <servlet-class>quocnt.controller.ConfirmController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateBookController</servlet-name>
        <servlet-class>quocnt.controller.CreateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDiscountController</servlet-name>
        <servlet-class>quocnt.controller.CreateDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>quocnt.controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDiscountController</servlet-name>
        <servlet-class>quocnt.controller.InitDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitHistoryController</servlet-name>
        <servlet-class>quocnt.controller.InitHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>quocnt.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>quocnt.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>quocnt.controller.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>quocnt.controller.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>quocnt.controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitDiscountController</servlet-name>
        <servlet-class>quocnt.controller.SubmitDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>quocnt.controller.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemController</servlet-name>
        <servlet-class>quocnt.controller.UpdateItemController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDispatcherController</servlet-name>
        <url-pattern>/ServletDispatcherController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitSearchPageController</servlet-name>
        <url-pattern>/InitSearchPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmController</servlet-name>
        <url-pattern>/ConfirmController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateBookController</servlet-name>
        <url-pattern>/CreateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDiscountController</servlet-name>
        <url-pattern>/CreateDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDiscountController</servlet-name>
        <url-pattern>/InitDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitHistoryController</servlet-name>
        <url-pattern>/InitHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/RemoveItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitDiscountController</servlet-name>
        <url-pattern>/SubmitDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/UpdateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemController</servlet-name>
        <url-pattern>/UpdateItemController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ServletDispatcherController</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>QuocNT</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
